<div class="container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="toolbar mat-elevation-z12">
      <span matTooltip="Kliknij aby otworzyć menu">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </span>
      <h1 class="app-name">{{title}}</h1>
    </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sidenav  [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" class="sidenav-menu-content">
      <app-left-menu [isMobile]="mobileQuery.matches"></app-left-menu>
    </mat-sidenav>

    <mat-sidenav-content >
    <div fxFlex="grow">
        <router-outlet></router-outlet>
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  </div>
